<!--this file creates all the main menu pages, see config-->
<nav class="custom-header">
  {{ if .Site.Menus.main }}
  <ul>
    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL }}" title="{{ .Name }} page"> {{ .Name }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
</nav>
